/** {
	border: 1px solid red;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
*/
@media only screen and (max-width: 300px) {
	p {
		background-color: blue;
	}
}
.grid {
	margin: 0 auto;
	max-width: 1400px;
	width:100%;
}
.row {
	width: 100%;
	margin-bottom: 0 auto;
	display: flex;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
h1, h1 ~ p {
	font-family: 'Lato', sans-serif;
	color: #777;
	text-align: right;
	margin-right: 0;
}
#color-board {
	margin: 37% auto;
	height: 80%;
}
table{
	margin-top: 70%;
	margin-left: 10%;
	border-spacing: 0.5em;
}
td {
	height: 5em;
	width: 5em;
}
tr:first-child {
	background-color: #F8981C;
}
tr:nth-child(2) {
	background-color: #BCBBBB;
}
tr:nth-child(3) {
	background-color: #777;
}
p {
	margin-left: 10%;
}
h2 {
	font-size: 2em;
	font-family: 'Lato', sans-serif;
	margin: 0px 0.5em 0.25em;
	color: #BCBBBB;
}
a {
	color: #777;
	font-family:'Lato', sans-serif;
}
h1 {
	font-size: 3em;
	font-weight: 100;
	margin-top: 0.75em;
	margin-bottom: 0;
}
h1 ~ p {
	margin-top: 0;
}
img ~ h2 {
	color: #777;
	text-align: center;
}
.description {
	text-align: center;
}
img {
	vertical-align: middle;
	margin-left: 0;
	margin-bottom: 1em;
}